*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg , #153677,#4e085f);
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 540px;
    background: #fff;
    border-radius: 10px;
    margin: 100px  auto  20px;
    padding: 40px 30px 70px;
}
.todo h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #153677;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-left: 30px;
    background: #edeef0;
}
 input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;
}
button{
    border: none;
    outline: none;
    background: #ff5945;
    border-radius: 20px;
    padding: 16px 50px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;

}
ul li{
   list-style: none;
   font-size: 17px;
   padding: 12px 8px 12px 50px;
   user-select: none;
   cursor: pointer;
   position: relative;
}
ul li::before{
    content: ' ';
   position: absolute;
   height: 25px;
   width: 25px;
   border-radius: 50%;
   background-image: url(icon.png);
   background-image: url(checked.png); 

   background-size: cover;
   background-position: center;
   top: 10px;
   left: 8px;
}
ul li.checked{
    color: #616161;
    text-decoration: line-through;
    
}

ul li span {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 0;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 40%;

}
ul li span:hover{
    background: #edeef0;
}